{% extends "familia/base.html" %}

{% load bootstrap5 %}

{% block cuerpo %}
<div class="container">
   <div class="row">
     <div class="col">
      <h1>{{ carga }}</h1>
     </div>
     </div>
     <div class="row">
     <div class="col">
      <form action="{% url  'cargar_persona'%}" method="post">
        
        {% if actualizar %}
          <form action="{% url  'actualizar_action' %}" method="post">
        {% else %}     
          <form action="{% url  'cargar_persona'%}" method="post">
        {% endif %}

        {% csrf_token %} 
        {% bootstrap_form form %}
       
        {% if actualizar %}
          {% bootstrap_button "Actualizar" button_type="submit" button_class="btn-primary" %} 
        {% else %}
          {% bootstrap_button "Guardar" button_type="submit" button_class="btn-primary" %}
        {% endif %}

      </form>
     </div>
   </div>
 </div>
{% endblock %}